*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

/*navbar design start here*/
.nav-container{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.431);
}
.nav-main{
    
    /*border: 2px solid red;*/
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    max-width: 1000px;
    margin: 0 auto;
    

}
.color{
    color: violet;
}
span{
    color:black;
    margin-left: 5px;

}
.nav-left{
   display: flex;
   align-items: center;
   font-size: 40px;
}
.nav-right{
    text-decoration: none;
    

}
.nav-btn{
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;

}
.nav-follow{
    background-color: rgba(169, 169, 169, 0.398);
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 10px;
}
/*navbar end here*/
/*header start here*/

.header-container{
    background-image:  url(../image/Group\ 14.png);
    background-repeat: no-repeat;
}

.header-main{
 /*border: 2px solid red;*/
display: flex;
max-width: 1000px;
margin: 0 auto;
justify-content: space-between;
align-items: center;
}
.header-left{
 /*border: 2px solid green;*/
 width: 50%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.goat{
    font-size: 40px;
    background-image: linear-gradient(rgb(216, 19, 216),rgb(26, 26, 248));
    background-clip: text;
    color:transparent;
}
.header-right{
 /*border: 2px solid blue;*/
 width: 50%;
}
.header-right img{
    width: 100%;
}
.header-btn1,.header-btn2{

    border-radius: 15px;
    padding: 15px 20px;
    border: none;
    margin-top: 10px;
 text-align: center;

}
.header-btn1{
 background-color: rgba(220, 20, 193, 0.824);
 margin-right: 15px;
}
.header-btn2{
 background-color: rgba(0, 157, 255, 0.842);
}
/*header part ends here*/


/*main part start*/
.main-container{
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.main-content{
    display: flex;
    max-width: 1000px;
    margin-left: 350px;

    flex-direction: space-between;

}
.header{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color:transparent;
    margin-left: 190px;

}
.main-left{
    margin-top: 50px;
    margin-right: 50px;
    width: 50%;

}
.main-right{
    margin-top: 40px;
    width: 50%;}

.main-left img{
width: 100%;
}


.game{
    margin-left: 60px;
    margin-top: 10px;

}
.mobile{
    margin-left: 20px;
}
.month{
    margin-left: 120px;
}
.button-1{
    background-image: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    border-radius: 30px;
    padding: 15px 20px;
    margin-top: 15px;
    margin-left: 280px;
}
.purpose{
    margin-left: 280px ;
    margin-top: 10px;
}
.unleash{
    color: #534C64;
    font-size: 25px;
    margin-left: 40px;
}


/*Section start here*/
.span{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color:transparent;
}
.section-1{
    text-align: center;
    margin-top: 150px;
   font-size: 30px;
}
.section-para{
    font-size: 18px;
}
/*card section start*/
.online-main{
 max-width: 1000px;
 margin: 0 auto;
 display: grid;
 /*
 border: 2px solid blueviolet;*/
 grid-template-areas: "a b c d";
 gap:10px;
 margin-top: 15px;
}
.online-card{
    position: relative;
}
.online-card img{
    width: 100%;
}
.card-1{
  grid-area: a;
  width: 100%;
}
.card-2{
grid-area: b;
width: 100%;
}
.card-3{
grid-area: c;
width: 100%;
}
.card-4{
grid-area: d;
width: 100%;
}
.watch-now{
   /* border: 2px solid blueviolet;*/
    position: absolute;
    top: 38%;
    left: 38%;
    text-align: center;
    display: none;
}
.watch-now span{
    font-size: 20px;
    color: aliceblue;
}
.watch-now p{
    color: red;
}
.online-card img:hover+ .watch-now{
    display: block;

}
.online-card img:hover{
    filter: brightness(50%);
}
/*card section end*/

/*play section start*/

.play-main{
 display: flex;
 max-width: 1000px;
 margin: 0 auto;
 justify-content: space-between;
 align-items: center;
}
.play-left{
width: 40%;
}

.play-right img{
    width:100%;
}
 .play-right .billi{
position: absolute;
height: 180px;
width: 180px;
bottom: -60px;
left: -60px;

}
.play-right{
    margin-top: 100px;
    width: 40%;
    position: relative;
    }
    .play-instantly{
        background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        color: transparent;
    }
/*play section end*/
/*play game section start*/

.game-main{
    margin-top: 50px;
display: flex;
max-width: 1000px;
margin: 0 auto;
justify-content: space-between;
align-items: center;
}
.game-left{
 width: 40%;
 margin-top: 100px;
 position: relative;
}
.game-left img{
    width:100%;
}
.game-right{
width: 50%;
margin-left: 250px;
}
.game-left .billu{
    position: absolute;
    height: 180px;
    width: 180px;
    bottom: 0px;
    left: 280px;
}
.spans{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     color: transparent;
}
/*play game section end*/
/*career section start*/

.career-main{
    background-image: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #FFFFFF;
    display: flex;
    max-width: 1600px;
    margin-top: 100px;
    justify-content: space-between;
   
   
}

.career-left{
    width: 50%; 
   left: 240px ; 
   margin-top: 100px;
}
.career-right{
width: 50%;
}
.career-right img{
    width: 100%;
}
.career-left h1{
    margin-left: 255px;
    font-size: 48px;
}
.career-left p{
    margin-left: 255px;
}
.btn{
    background-color:  #FFFFFF;
    color: #F948B2;
    margin-top: 13px;
    margin-left: 255px;
    padding: 20px 40px ;
    border-radius: 48px;
    border: 1px solid white;
}
.unorder-list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.list{
    margin-left: 255px;
}
.list-1{
    margin-left: 100px;
}















/*career section ends*/
